.bg-cover {
  background: url(https://rycossette.github.io/theretronew/img/new/samurai_jack_new.jpg) center;
  background-size: cover;
  background-position: top;
  height: 400px;
  color: white;
}

.header {
  text-align: left;
  padding-top: 150px;
  padding-left: 50px;
}

.padding {
  margin-top: 100px;
  margin-bottom: 100px;
}

.spacing {
  margin-top: 15px;
}




/* modal */
.modal {
  display: none; /* Changed to none */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow: hidden;
}

/* ... rest of your CSS remains unchanged ... */


.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  /* Adjusted height to account for the close button */
  width: 100%;
  background-color: transparent !important;
  /* Ensure this is transparent */
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
}

.modal-content img {
  object-fit: contain;
  height: 80vh;
  /* Adjusted this to ensure the image fits within the viewport */
  width: auto;
  max-width: 100%;
}

.close {
  color: white;
  position: absolute;
  top: 20px;
  /* Adjusted padding from the top */
  right: 20px;
  /* Adjusted padding from the right */
  font-size: 48px;
  font-weight: bold;
  z-index: 10;
  ;
  /* Semi-transparent background */
  padding: 5px;

}

.close:hover,
.close:focus {
  color: #0099ff;
  text-decoration: none;
  cursor: pointer;
}

/* c.compare */

.c-compare {
  /* --h: 9;
  --m: 0;
  --w: 16; */
  height: 100%;
  width: 90%;
  --thumb-bgc: rgb(255, 255, 255);
  --thumb-bgc-focus: hsla(0, 70%, 70%, 0.7);
  --thumb-w: 3px;
  margin: var(--m) auto;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
}

.c-compare::after {
  content: "";
  display: block;
  padding-bottom: calc((var(--h) / var(--w)) * 100%);
}

.c-compare__left,
.c-compare__right {
  height: 100%;
  position: absolute;
  width: 100%;
}

.c-compare img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.c-compare__left {
  clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
}

.c-compare__right {
  clip-path: polygon(var(--value) 0%, 100% 0%, 100% 100%, var(--value) 100%);
}

.c-compare__range-wrapper {
  height: 100%;
  left: calc(var(--thumb-w) / 2);
  position: absolute;
  right: calc(var(--thumb-w) / 2);
  top: 0;
}

.c-compare__range {
  background-color: transparent;
  box-sizing: border-box;
  font-family: inherit;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0 calc(var(--thumb-w) / 2);
  position: absolute;
  top: 47%;
  width: 100%;
}

.c-compare__range::-moz-range-thumb {
  background-color: var(--thumb-bgc);
  cursor: ew-resize;
  height: 50px;
  width: 30px;
  
}

.c-compare__range::-webkit-slider-thumb {
  background-color: var(--thumb-bgc);
  cursor: ew-resize;
  height: 50px;
  width: 10px;
}

.c-compare__range:focus::-webkit-slider-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}

.c-compare__range:focus::-moz-range-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}

.c-compare__range::-moz-range-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
}

.c-compare__range::-webkit-slider-runnable-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

.c-compare__range,
.c-compare__range::-webkit-slider-runnable-track,
.c-compare__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/* arrows  */
.arrow {
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow.left {
  left: 10px;
  margin: 5px;
}

.arrow.right {
  right: 10px;
  margin: 5px;
}