/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-cover {
  background-image: url(/img/new/samurai_jack_new.jpg);
  background-size: cover !important;
  margin-bottom: 50px;
  padding-bottom: 50px;
  padding-top: 100px;
}

.c-compare {
  --h: 9;
  --m: 0;
  --w: 16;
  --thumb-bgc: rgb(255, 0, 0);
  --thumb-bgc-focus: hsla(0, 70%, 70%, 0.7);
  --thumb-w: 3px;
  margin: var(--m) auto;
  width: 90vw;
  position: relative;
  margin-bottom: 10px;
}

.c-compare::after {
  content: "";
  display: block;
  padding-bottom: calc((var(--h) / var(--w)) * 100%);
}

.c-compare__left,
.c-compare__right {
  height: 100%;
  position: absolute;
  width: 100%;
}

.c-compare img {
  max-width: 100%;
  max-height: 100%;
}

.c-compare__left {
  clip-path: polygon(0% 0%, var(--value) 0%, var(--value) 100%, 0% 100%);
}

.c-compare__right {
  clip-path: polygon(100% 0%, var(--value) 0%, var(--value) 100%, 100% 100%);
}




.c-compare__range-wrapper {
  height: 100%;
  left: calc(var(--thumb-w) / 2);
  position: absolute;
  right: calc(var(--thumb-w) / 2);
  top: 0;
}

.c-compare__range {
  background-color: transparent;
  box-sizing: border-box;
  font-family: inherit;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 0 calc(var(--thumb-w) / 2);
  position: absolute;
  top: 0;
  width: 100%;
}


.c-compare__range::-moz-range-thumb {
  background-color: var(--thumb-bgc);
  cursor: ew-resize;
  height: 100%;  
  width: var(--thumb-w);
}
.c-compare__range::-webkit-slider-thumb {
  background-color: var(--thumb-bgc);
  cursor: ew-resize;
  height: 100%;  
  width: var(--thumb-w);
}
.c-compare__range:focus::-webkit-slider-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}
.c-compare__range:focus::-moz-range-thumb {
  background-color: var(--thumb-bgc-focus);
  box-shadow: 0 0 0 3px var(--thumb-bgc);
}
.c-compare__range::-moz-range-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
}
.c-compare__range::-webkit-slider-runnable-track {
  background: transparent;
  background-size: 100%;
  box-sizing: border-box;
  height: 100%;
}
.c-compare__range,
.c-compare__range::-webkit-slider-runnable-track,
.c-compare__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
